@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$tigresBlue: #1e4260;
$tigresOrange: #f69322;
$tigresGrey: #b3b3b3;
$white: #ffffff;
$linkColor: #0000ee;

:root {
	font-family: 'Open Sans', Times New Roman, serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;

	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body,
div#app {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	background-color: $tigresBlue;
}

div#app {
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3 {
	font-family: 'Open Sans', Arial;
}

h1 {
	font-weight: 400;
	color: $white;
}

p {
	font-size: 1.5rem;
}

a {
	color: $linkColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
